{% extends "layout.html" %} <!-- to have the base model  -->


{% block content %} <!-- to specify what is the content to insert into the base page -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div>
  <table id="ticketsTable" width="70%" border="0">
      <tr>
          <th>Ticket Id Number.</th>
          <th>Ticket Type</th>
          <th>Number of Tickets</th>
          <th>Price</th>
          <th>Number of tickets to buy</th>
          <th>Total price</th>
      </tr>
      {% for ticket in event.tickets %}
      <tr>
          <td>{{ ticket.id }}</td>
          <td>{{ ticket.ticket_type }}</td>
          <td>{{ ticket.num_tickets }}</td>
          <td id="price" data-price="{{ ticket.price }}">{{ ticket.price }}</td>
          <td><select id="quantity">
                    <option data-quantity="1">1</option>
                    <option data-quantity="2">2</option>
                    <option data-quantity="3">3</option>
                    <option data-quantity="4">4</option>
          </select></td>
          <td>€<span id="total"></span></td>

      </tr>
      {% endfor %}
  </table>
</div>




<div>
  <p>Your total is: 13</p>
  <p>example: you have choosen ticket for over 65 quantity 1</p>
  <button  id="myBtn">Book now, pay later</button>
  <p id="demo"></p>
  <p id="demo2"></p>
  <p id="testingError"></p>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    const p = $("#price").data('price');

    $("#quantity").change(function () {
        const q = $(this).find(':selected').data('quantity');
        const total = p * q;
        $("#total").text(total);
    });
});
</script>

<script>
  const someData = { 'ticket_id': 3 };
  document.getElementById("myBtn").addEventListener("click", function() {
    myFunction(someData);
  });
  function myFunction(dataFromConst) {
    // shows what i read
    document.getElementById("demo2").innerHTML = JSON.stringify(dataFromConst);

    var myHeaders = new Headers();
    myHeaders.append("Content-Type", "application/json");
    var raw = JSON.stringify(dataFromConst);
    var requestOptions = {
      method: 'POST',
      headers: myHeaders,
      body: raw,
      redirect: 'follow'
    };
    fetch("/booking-confirmed/", requestOptions)
      .then(response => {
        if (response.redirected) {
            window.location.href = response.url;
        }
      })
      .then(result => console.log(result))
      .catch(error => console.log('error', error));

  }
</script>


<!--
fetch("http://localhost:5000/booking-confirmed/", requestOptions)
      .then(response => {
        if (response.redirected) {
            window.location.href = response.url;
        }
      })
      .then(result => console.log(result))
      .catch(error => console.log('error', error));
 -->
<!-- fetch('/booking-confirmed/', requestOptions)
.then(response => {
        // HTTP 301 response
        // HOW CAN I FOLLOW THE HTTP REDIRECT RESPONSE?
        if (response.redirected) {
            window.location.href = response.url;
        }
    });
 -->
<!-- <script type="text/javascript">

  const someData = { 'ticket_id': 3 };
  document.getElementById("myBtn").addEventListener("click", function() {
    myFunction(someData);
  });

  function myFunction(dataFromConst) {
    try{
      // shows what i read
      document.getElementById("demo2").innerHTML = JSON.stringify(dataFromConst);

      // var settings = {
      // "url": "http://localhost:5000/booking/event/",
      // "method": "POST",
      // "timeout": 10000,
      // "headers": {
      //   "Content-Type": "application/json"
      // },
      // "data": JSON.stringify(dataFromConst),
      // "success":function(data){
      //   //window.location.href = //page to redirect to
      //   //alert(JSON.stringify(data));
      //   testingError.innerHTML = JSON.stringify(data);
      // },
      // "error":function(data){
      //   //alert(data.text);
      //   testingError.innerHTML = data.text;
      // }
      // };

      // $.ajax(settings);
      $.ajax({
        url:"http://localhost:5000/booking/event/",
        method:"POST",
        timeout:10000,
        headers:{"Content-Type":"application/json"},
        data: JSON.stringify(dataFromConst),
        success: function(data){
          testingError.innerHTML=JSON.stringify(data);
        },
        error:function(data){
          testingError.innerHTML=JSON.stringify(data);
        }
      });
    }catch(e){alert(e);}
  }


//catch(e){alert(e);}


</script> -->



{% endblock content%} <!-- put the name of what block we are ending -->





