{% extends "layout.html" %} <!-- to have the base model  -->
{% block content %} <!-- to specify what is the content to insert into the base page -->
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="card sharp-border">
				<div class="card-header text-center" style="background-color:white">
					<h3 class="text-uppercase orange">edit staff</h3>
				</div>
				<div class="card-body text-center">
					<div class="container-fluid text-left">
						<h3 class="text-uppercase">add staff</h3>
					</div>
					<form method="POST" action="" enctype = "multipart/form-data">
						{{ form.hidden_tag()}} <!-- we pass in the form instance to this template -->
						<!-- the hidden tag adds a csrf token aka cross site request forgery token  -->
						<fieldset class="form-group">
							<div class="form-group">
								<div class="input-group mb-3">
										<div class="input-group-prepend" >
											<span class="input-group-text"><span class="material-icons">alternate_email</span></span>
										</div>
										{% if form.staffer_email.errors%}
											{{ form.staffer_email(class="form-control form-control-lg is-invalid")}}
											<div class="invalid-feedback">
												{% for error in form.staffer_email.errors %}
													<span>{{ error }}</span>
												{%endfor%}
											</div>
										{% else %}
											{{ form.staffer_email(class="form-control form-control-lg",placeholder="Email")}}
										{% endif %}
									</div>
							</div>
						</fieldset>
						<div class="row">
							<div class="col-md-6">
								<button class="btn btn-outline-orange" onclick="window.history.back();">Cancel</button>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									{{ form.submit(class="btn btn-outline-orange")}}
								</div>
							</div>
						</div>
					</form>
					
				</div>
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>
{% endblock content%}
