<!-- create event html file -->
{% extends "layout.html" %} <!-- to have the base model  -->
{% block content %} <!-- to specify what is the content to insert into the base page -->
    <!-- form for posting new events -->
    <div class="content-section">
        <form method="POST" action="" enctype = "multipart/form-data">
            {{ form.hidden_tag()}} <!-- we pass in the form instance to this template -->
            <!-- the hidden tag adds a csrf token aka cross site request forgery token  -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>

                <div data-toggle="fieldset" id="tickets-fieldset">
                     {{ form.tickets.label }}  <button type="button" data-toggle="fieldset-add-row"
                                                      data-target="#tickets-fieldset">+</button>
                    <table>
                        <tr>
                            <th>Ticket name</th>
                            <th>Number of tickets</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        {% for ticket in form.tickets %}
                            <tr data-toggle="fieldset-entry">
                                <td>{{ ticket.ticket_type }}</td>
                                <td>{{ ticket.num_tickets }}</td>
                                <td>{{ ticket.price }}</td>
                                <td><button type="button" data-toggle="fieldset-remove-row" id="tickets-{{loop.index0}}-remove">-</button></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>


            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>


{% endblock content%} <!-- put the name of what block we are ending -->
