<!-- create event html file -->
{% extends "layout.html" %} <!-- to have the base model  -->
{% block content %} <!-- to specify what is the content to insert into the base page -->
    <!-- form for posting new events -->
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<div class="card sharp-border">
				<div class="card-header text-center" style="background-color:white">
					<h3 class="text-uppercase orange">new event</h3>
				</div>
				<div class="card-body text-center">
					<form method="POST" action="" enctype = "multipart/form-data">
						{{ form.hidden_tag()}} <!-- we pass in the form instance to this template -->
						<!-- the hidden tag adds a csrf token aka cross site request forgery token  -->
						<fieldset class="form-group">
						<div class="form-group">
							<div class="row">
								<div class="col-md-4">
									<img src="{{ url_for('static', filename ='event_pics/default_event.jpg' ) }}" class="card-img" id="create_event_thumbnail" alt="...">
								</div>
								<div class="col-md-8">
									{{ form.picture(class = "form-control-file",onchange="createEventThumbnail()",id="new_thumbnail",autocomplete="off",accept="image/png,image/jpeg,image/jpg,image/gif")}}
									{% if form.picture.errors%}
										{% for error in form.picture.errors %}
											<span class="text-danger">{{ error }}</span> </br>
										{%endfor%}
									{%endif%}
								</div>
							</div>	
						</div>
				
							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend" >
										<span class="input-group-text"><span class="material-icons">title</span></span>
									</div>
									{% if form.title.errors%}
										{{ form.title(class="form-control form-control-lg is-invalid")}}
										<div class="invalid-feedback">
											{% for error in form.title.errors %}
												<span>{{ error }}</span>
											{%endfor%}
										</div>
									{% else %}
										{{ form.title(class="form-control form-control-lg",placeholder="Title")}}
									{% endif %}
								</div>
							</div>
							
							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend" >
										<span class="input-group-text"><span class="material-icons">title</span></span>
									</div>
									{% if form.content.errors %}
										{{ form.content(class="form-control form-control-lg is-invalid")}}
										<div class="invalid-feedback">
											{% for error in form.content.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.content(class="form-control form-control-lg",placeholder="Description",rows="6")}}  <!-- lg stands for large -->
									{% endif %}
								</div>
							</div>

							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend" >
										<span class="input-group-text"><span class="material-icons">alternate_email</span></span>
									</div>
									{% if form.event_type.errors %}
										{{ form.content(class="form-control form-control-lg is-invalid")}}
										<div class="invalid-feedback">
											{% for error in form.event_type.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.event_type(class="form-control form-control-lg",placeholder="Type")}}
									{% endif %}
								</div>
							</div>
							
							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend" >
										<span class="input-group-text"><span class="material-icons">lock</span></span>
									</div>
									{% if form.event_date.errors %}
										{{ form.event_date(class="form-control form-control-lg is-invalid")}}
										<div class="invalid-feedback">
											{% for error in form.content.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.event_date(class="form-control form-control-lg",placeholder="Date")}}  <!-- lg stands for large -->
									{% endif %}
								</div>
							</div>
							
							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend" >
										<span class="input-group-text"><span class="material-icons">lock</span></span>
									</div>
									{% if form.time_from.errors %}
										{{ form.time_from(class="form-control form-control-lg is-invalid")}}
										<div class="invalid-feedback">
											{% for error in form.content.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.time_from(class="form-control form-control-lg",placeholder="Start time")}}  <!-- lg stands for large -->
									{% endif %}
								</div>
							</div>
							
							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend" >
										<span class="input-group-text"><span class="material-icons">lock</span></span>
									</div>
									{% if form.time_to.errors %}
										{{ form.time_to(class="form-control form-control-lg is-invalid")}}
										<div class="invalid-feedback">
											{% for error in form.content.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.time_to(class="form-control form-control-lg",placeholder="End time")}}  <!-- lg stands for large -->
									{% endif %}
								</div>
							</div>
							
							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend" >
										<span class="input-group-text"><span class="material-icons">lock</span></span>
									</div>
									{% if form.location.errors %}
										{{ form.location(class="form-control form-control-lg is-invalid")}}
										<div class="invalid-feedback">
											{% for error in form.location.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.location(class="form-control form-control-lg",placeholder="Location")}}  <!-- lg stands for large -->
									{% endif %} 
								</div>
							</div>
							
							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend" >
										<span class="input-group-text"><span class="material-icons">lock</span></span>
									</div>
									{% if form.address.errors %}
										{{ form.address(class="form-control form-control-lg is-invalid")}}
										<div class="invalid-feedback">
											{% for error in form.content.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.address(class="form-control form-control-lg",placeholder="Address")}}  <!-- lg stands for large -->
									{% endif %}
								</div>
							</div>
							
							<div class="form-group">
								<div class="input-group mb-3">
									<div class="input-group-prepend" >
										<span class="input-group-text"><span class="material-icons">lock</span></span>
									</div>
									{% if form.city.errors %}
										{{ form.city(class="form-control form-control-lg is-invalid")}}
										<div class="invalid-feedback">
											{% for error in form.content.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.city(class="form-control form-control-lg",placeholder="City")}}  <!-- lg stands for large -->
									{% endif %}
								</div>
							</div>
						</fieldset>

						<div class="form-group">
							{{ form.submit(class="btn btn-outline-orange",value="Create event")}}
						</div>
					</form>
				</div>
				<!-- <div class="card-footer" style="background-color:white">
					<div class="container-fluid">
						<div class="float-left">
							<small class="text-muted">
								Already signed up?
								<br>
								<a class="brown-link text-uppercase" data-toggle="modal" data-target="#myModal" onclick="modalLayout({{ url_for('users.login')}})" href="">log in</a>
							</small>
						</div>
					</div>
				</div> -->
			</div>
		</div>
		<div class="col-md-3">
		</div>
	</div>

	<div class="content-section">
        <form method="POST" action="" enctype = "multipart/form-data">
            {{ form.hidden_tag()}} <!-- we pass in the form instance to this template -->
            <!-- the hidden tag adds a csrf token aka cross site request forgery token  -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                
                <div data-toggle="fieldset" id="tickets-fieldset">
                     {{ form.tickets.label }}  <button type="button" data-toggle="fieldset-add-row"
                                                      data-target="#tickets-fieldset">+</button>
                    <table>
                        <tr>
                            <th>Ticket name</th>
                            <th>Number of tickets</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        {% for ticket in form.tickets %}
                            <tr data-toggle="fieldset-entry">
                                <td>{{ ticket.ticket_type }}</td>
                                <td>{{ ticket.num_tickets }}</td>
                                <td>{{ ticket.price }}</td>
                                <td><button type="button" data-toggle="fieldset-remove-row" id="tickets-{{loop.index0}}-remove">-</button></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
{% endblock content%} <!-- put the name of what block we are ending -->
