<!-- create event html file -->
{% extends "layout.html" %} <!-- to have the base model  -->
{% block content %} <!-- to specify what is the content to insert into the base page -->
    <!-- form for posting new events -->
    <div class="content-section">
        <form method="POST" action="" enctype = "multipart/form-data">
            {{ form.hidden_tag()}} <!-- we pass in the form instance to this template -->
            <!-- the hidden tag adds a csrf token aka cross site request forgery token  -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    <!-- here we use the fields of the form we passed in -->
                    {{ form.title.label(class="form-control-label")}} <!-- gives us the label of the form -->

                    {% if form.title.errors%}
                        {{ form.title(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {%endfor%}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg")}}  <!-- lg stands for large -->
                    {% endif %}  <!-- lg stands for large -->
                </div>
                <div class="form-group">
                    <!-- here we use the fields of the form we passed in -->
                    {{ form.event_type.label(class="form-control-label")}} <!-- gives us the label of the form -->
                    {% if form.event_type.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.event_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.event_type(class="form-control form-control-lg")}}  <!-- lg stands for large -->
                    {% endif %}  <!-- lg stands for large -->
                </div>
                <div class="form-group">
                    <!-- here we use the fields of the form we passed in -->
                    {{ form.event_date.label(class="form-control-label")}} <!-- gives us the label of the form -->
                    {% if form.event_date.errors %}
                        {{ form.event_date(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.event_date(class="form-control form-control-lg")}}  <!-- lg stands for large -->
                    {% endif %}  <!-- lg stands for large -->
                </div>
                <div class="form-group">
                    <!-- here we use the fields of the form we passed in -->
                    {{ form.time_from.label(class="form-control-label")}} <!-- gives us the label of the form -->
                    {% if form.time_from.errors %}
                        {{ form.time_from(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.time_from(class="form-control form-control-lg")}}  <!-- lg stands for large -->
                    {% endif %}  <!-- lg stands for large -->
                </div>
                <div class="form-group">
                    <!-- here we use the fields of the form we passed in -->
                    {{ form.time_to.label(class="form-control-label")}} <!-- gives us the label of the form -->
                    {% if form.time_to.errors %}
                        {{ form.time_to(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.time_to(class="form-control form-control-lg")}}  <!-- lg stands for large -->
                    {% endif %}  <!-- lg stands for large -->
                </div>
                <div class="form-group">
                    <!-- here we use the fields of the form we passed in -->
                    {{ form.content.label(class="form-control-label")}} <!-- gives us the label of the form -->
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg")}}  <!-- lg stands for large -->
                    {% endif %}  <!-- lg stands for large -->
                </div>
                <div class="form-group">
                    <!-- here we use the fields of the form we passed in -->
                    {{ form.address.label(class="form-control-label")}} <!-- gives us the label of the form -->
                    {% if form.address.errors %}
                        {{ form.address(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.address(class="form-control form-control-lg")}}  <!-- lg stands for large -->
                    {% endif %}  <!-- lg stands for large -->
                </div>
                <div class="form-group">
                    <!-- here we use the fields of the form we passed in -->
                    {{ form.city.label(class="form-control-label")}} <!-- gives us the label of the form -->
                    {% if form.city.errors %}
                        {{ form.city(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.city(class="form-control form-control-lg")}}  <!-- lg stands for large -->
                    {% endif %}  <!-- lg stands for large -->
                </div>
                <div class="form-group">
                    <!-- here we use the fields of the form we passed in -->
                    {{ form.location.label(class="form-control-label")}} <!-- gives us the label of the form -->
                    {% if form.location.errors %}
                        {{ form.location(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control form-control-lg")}}  <!-- lg stands for large -->
                    {% endif %}  <!-- lg stands for large -->
                </div>
                <div data-toggle="fieldset" id="tickets-fieldset">
                     {{ form.tickets.label }}  <button type="button" data-toggle="fieldset-add-row"
                                                      data-target="#tickets-fieldset">+</button>
                    <table>
                        <tr>
                            <th>Ticket name</th>
                            <th>Number of tickets</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                        {% for ticket in form.tickets %}
                            <tr data-toggle="fieldset-entry">
                                <td>{{ ticket.ticket_type }}</td>
                                <td>{{ ticket.num_tickets }}</td>
                                <td>{{ ticket.price }}</td>
                                <td><button type="button" data-toggle="fieldset-remove-row" id="tickets-{{loop.index0}}-remove">-</button></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div class="form-group">
                    <!-- here we use the fields of the form we passed in -->
                    {{ form.picture.label()}} <!-- gives us the label of the form -->
                    {{ form.picture(class = "form-control-file")}}
                    {% if form.picture.errors%}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span> </br>
                        {%endfor%}
                    {%endif%}
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>


{% endblock content%} <!-- put the name of what block we are ending -->
