{% extends "layout.html" %} <!-- to have the base model  -->
{% block content %} <!-- to specify what is the content to insert into the base page -->
	<div class="row w-100">
		<div class="col-md-1">
		</div>
		<div class="col-md-7">
			
			<div class="card" style="margin-bottom:20px;">
				<div class="container-fluid event-top text-center">
					<h1 class="brown" style="margin-bottom:-30px">{{ event.title }}</h1>
					<img class="thumbnail-img" src="{{ url_for('static', filename ='event_pics/' + event.image_file ) }}">
					<div class="col-md-10">
						<div class="float-right">
							
						</div>
					</div>
				</div>
				
				<div class="card-body text-center">
					<p class="card-text brown" style="vertical-align:middle"><strong>{{_('Event description')}}</strong> </p>
					<p class="card-text">{{ event.content }}</p>
					
					<p class="card-text brown" style="vertical-align:middle"><strong>{{_('Date and time information')}}</strong> </p>
					<p class="card-text">{{ event.event_date.strftime('%A %d %B %Y') }}</p>
					<p class="card-text">{{_('From')}} {{ event.time_from.strftime('%H:%M') }} {{_('to')}} {{ event.time_to.strftime('%H:%M')}}</p>
					
					<p class="card-text brown" style="vertical-align:middle"><strong>{{_('Location information')}}</strong> </p>
					<p class="card-text">{{ event.location }}, {{ event.address }}</p>
					<p class="card-text">{{ event.city }}</p>
					<iframe class="iframe-location" scrolling="no" marginheight="0" marginwidth="0" frameborder="0" src="https://maps.google.com/maps?key=AIzaSyB8ctkK7iOEBNS870uLCpXQwezRfW9dXeM&width=100%25&amp;height=600&amp;hl=en&amp;q={{event.location}}%20{{event.address}}%20{{event.city}}&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
				</div>
				<div class="card-footer">
					<small class="text-muted">{{_('Provided by')}}: <a class="brown-link" href="{{url_for('users.user_events',username=event.manager.username)}}">{{ event.manager.username }}</a></small>
				</div>
			</div>
			
		</div>
		<div class="col-md-4">
			{% if event.manager == current_user %}
				<div class="card" style="margin-bottom:20px;">
					<div class="card-body">
						<h3 class="orange">{{_('Provider Toolbar')}}</h3>
						<div class="row text-right">
							<div class="col-md-12">
								<a class="btn btn-orange" href="{{url_for('events.update_event', event_id = event.id)}}">{{_('Edit event')}}</a>
							</div>
						</div>
						<div class="row text-right">
							<div class="col-md-12">
								<button type="button" class="btn btn-danger mt-1" data-toggle="modal" data-target="#deleteModal">{{_('Delete Event')}}</button>
							</div>
						</div>						
					</div>
				</div>
			{%endif%}
			
			<div class="card" style="margin-bottom:20px;">
				<div class="card-body">
					<div class="content-section">
						<h3 class="orange">{{_('Tickets')}}</h3>
						<ul class="list-group list-group-flush">
							{%for ticket in event.tickets%}
								<li class="list-group-item">
									<div class="float-left">
										<p class="article-content">
											<strong class="orange"> <span class="ticket_type" id="{{ticket.id}}">{{ ticket.ticket_type }}</span> </strong>
											<br>
											{{_('Price')}}: <span class="ticket-price">{{ "{:.2f}".format(ticket.price) }}</span> &euro;
											<br>
											{{_('Available')}}: <span class="ticket-num">{{ ticket.num_tickets - ticket.num_bought }}</span>
										</p>
									</div>
									{% if event.manager != current_user %}
										<div class="float-right" style="margin-top:1em;">
											<div class="input-group mb-3" style="width:110px">
												<div class="input-group-prepend">
													<button class="btn btn-outline-orange sub-ticket" type="button" style="width:37px;" onclick="subTicket(this.parentElement.parentElement)" autocomplete="off" disabled>-</button>
												</div>
												<div class="custom-file">
													<input type="text" class="form-control ticket-value num_booked_tickets" value="0" style="text-align:center" autocomplete="off" readonly>
												</div>
												<div class="input-group-append">
													<button class="btn btn-outline-orange add-ticket" type="button" style="width:37px;" onclick="addTicket(this.parentElement.parentElement)">+</button>
												</div>
											</div>
										</div>
									{%endif%}
								</li>
							{%endfor%}
						</ul>
						<div class="row" style="margin-top:10px;">
							<div class="col-md-6">
								{% if event.manager != current_user %}
									<img src="{{ url_for('static', filename ='img/stripebanner.svg') }}" alt="banner" style="max-width:150px;">
								{%endif%}
							</div>
							<div class="col-md-6 text-right">
								{% if event.manager == current_user %}
									<div id="ticket_form_div">
									</div>
									<div class="row">
										<div class="col-md-12">
											<div class="row">
												<div class="col-md-12">
													<a class="btn btn-orange" href="{{url_for('events.update_event_tickets', event_id = event.id)}}">{{_('Update tickets')}}</a>
												</div>
											</div>
											<div class="row mt-1">
												<div class="col-md-12">
													<a class="btn btn-orange" href="{{url_for('events.add_tickets', event_id = event.id)}}">{{_('Add tickets')}}</a>
												</div>
											</div>
											<div class="row mt-1">
												<div class="col-md-12">
													<a class="btn btn-orange" href="{{url_for('events.delete_event_tickets', event_id = event.id)}}">{{_('Delete tickets')}}</a>
												</div>
											</div>
										</div>
									</div>
								{%else%}
									<div class="row">
										<div class="col-md-12 text-right">
											<button class="btn btn-orange" type="button" id="purchase_button" autocomplete="off" onclick="booking(this)" disabled>{{_('Purchase')}} <span id="purchase-num">0</span> {{_('tickets')}}, <span id="purchase-price">0.00&euro;</span></button>
										</div>
									</div>
									<div class="row" style="margin-top:2px;">
										<div class="col-md-12 text-right">
											<button class="btn btn-orange" type="button" id="book_button" autocomplete="off" onclick="booking(this)" disabled>
												{{_('Book')}} <span id="book-num">0</span> {{_('tickets, pay at the event')}}
												<!-- <div class="spinner-border" role="status">
													<span class="sr-only">Loading...</span>
												</div> -->
											</button>
										</div>
									</div>
								{%endif%}
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			{% if event.manager == current_user %}
			<div class="card">
				<div class="card-body">
					<div class="content-section">
						<h3 class="orange">Staff</h3>
						<ul class="list-group list-group-flush">
							{%for staffer in event.staffers%}
								<li class="list-group-item staffer-li">
									<p class="article-content">{{ staffer.email }}</p>
								</li>
							{%else%}
								<li class="list-group-item staffer-li">
									<p class="article-content">{{_('No staff has been inserted for this event')}}</p>
								</li>
							{%endfor%}
						</ul>
						<div class="float-right" style="margin-top:10px;">
							<div class="row">
								<div class="col-md-12 text-right">
									<a class="btn btn-orange" href="{{url_for('events.add_staff', event_id = event.id)}}">{{_('Add Staff')}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			{%endif%}
		</div>
	</div>
	
  <!-- Modal -->
	<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row mb-4">
						<div class="col-md-9">
							<h5 class="modal-title" id="deleteModalLabel"> {{_('Do you want to delete the selected event?')}} </h5>
						</div>
						<div class="col-md-3 text-right">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
					</div>
					<div class="row">
						<div class="container-fluid text-right">
							<form action="{{url_for('events.delete_event', event_id=event.id)}}" method="POST">
								<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
								<button type="button" class="btn btn-secondary d-inline" data-dismiss="modal">{{_('Cancel')}}</button>
								<input class="btn btn-danger d-inline" type="submit" value="Delete">
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock content%} <!-- put the name of what block we are ending -->
