
    
	<div class="content-section">
        <form method="POST" action="{{ url_for('users.login')}}">
            {{ form.hidden_tag()}} <!-- we pass in the form instance to this template -->
            <!-- the hidden tag adds a csrf token aka cross site request forgery token  -->
            <fieldset class="form-group">
                <div class="modal-header">
					<h3 class="modal-title orange text-uppercase"> login form </h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-center">
					<div class="content-section">
						<span class="material-icons orange" style="font-size:8em;" >account_circle</span>
						<div class="form-group">
							<!-- here we use the fields of the form we passed in -->
							<div class="input-group mb-3">
								<div class="input-group-prepend" >
									<span class="input-group-text"><span class="material-icons">alternate_email</span></span>
								</div>
								{% if form.email.errors%}
									{{ form.email(class="form-control form-control-lg is-invalid")}}
									<div class="invalid-feedback">
										{% for error in form.email.errors %}
											<span>{{ error }}</span>
										{%endfor%}
									</div>
								{% else %}
									{{ form.email(class="form-control form-control-lg",placeholder="Email")}}  <!-- lg stands for large -->
								{% endif %}  <!-- lg stands for large -->
							</div>
						</div>
						<div class="form-group">
							<!-- here we use the fields of the form we passed in -->
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text"><span class="material-icons">vpn_key</span></span>
								</div>
								{% if form.password.errors %}
									{{ form.password(class="form-control form-control-lg is-invalid")}}
									<div class="invalid-feedback">
										{% for error in form.password.errors %}
											<span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									{{ form.password(class="form-control form-control-lg",placeholder="Password")}}  <!-- lg stands for large -->
								{% endif %}  <!-- lg stands for large -->
							</div>
						</div>
						<div class="form-check float-left" style="margin-bottom:15px;">
							<label class="form-check-label" style="padding-top:-2px;"> {{ form.remember(class="form-check-input")}} Keep me signed in</label>
						</div>
						<div class="form-group float-right">
							{{ form.submit(class="btn btn-outline-orange")}}
						</div>
					</div>
				</div>
            </fieldset>
        </form>
    </div>

    <div class="modal-footer">
		<div class="container-fluid">
			<div class="float-left">
				<small class="text-muted">
					Forgot your password?
					<br>
					Recover it <a href="{{ url_for('users.reset_request') }}" class="brown-link text-uppercase">here</a>
				</small>
			</div>
			<div class="float-right text-right">
				<small class="text-muted">
					Need an account?
					<br>
					<a class="brown-link text-uppercase" href="{{url_for('users.register')}}">Sign up</a><!--  we passs in the name of the route function -->
				</small>
			</div>
        </div>
    </div>
	
	
	<!-- 