{% extends "layout.html" %} <!-- to have the base model  -->
{% block content %} <!-- to specify what is the content to insert into the base page -->

	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6 text-center">
			<div class="card sharp-border" style="max-width:500px; margin:auto;">
				<form method="POST" action="">
					{{ form.hidden_tag()}} <!-- we pass in the form instance to this template -->
					<!-- the hidden tag adds a csrf token aka cross site request forgery token  -->
					<fieldset class="form-group">
						<div class="card-header text-center">
							<h3 class="card-title orange text-uppercase"> {{_('login form')}} </h3>
						</div>
						<div class="card-body text-center">
							<div class="content-section">
								<span class="material-icons orange" style="font-size:8em;" >account_circle</span>
								<div class="form-group">
									<!-- here we use the fields of the form we passed in -->
									{% with messages = get_flashed_messages() %}
										{% if messages %}
											{% for message in messages %}
												<div class="alert alert-secondary" role="alert">
													{{ message }}
												</div>
											{% endfor %}
										{% endif %}
									{% endwith %}

									<div class="input-group mb-3">
										<div class="input-group-prepend" >
											<span class="input-group-text"><span class="material-icons">alternate_email</span></span>
										</div>
										{% if form.email.errors%}
											{{ form.email(class="form-control form-control-lg is-invalid")}}
											<div class="invalid-feedback">
												{% for error in form.email.errors %}
													<span>{{ error }}</span>
												{%endfor%}
											</div>
										{% else %}
											{{ form.email(class="form-control form-control-lg",placeholder="Email")}}  <!-- lg stands for large -->
										{% endif %}  <!-- lg stands for large -->
									</div>
								</div>
								<div class="form-group">
									<!-- here we use the fields of the form we passed in -->
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text"><span class="material-icons">vpn_key</span></span>
										</div>
										{% if form.password.errors %}
											{{ form.password(class="form-control form-control-lg is-invalid")}}
											<div class="invalid-feedback">
												{% for error in form.password.errors %}
													<span>{{ error }}</span>
												{% endfor %}
											</div>
										{% else %}
											{{ form.password(class="form-control form-control-lg",placeholder="Password")}}  <!-- lg stands for large -->
										{% endif %}  <!-- lg stands for large -->
									</div>
								</div>
								<div class="form-check float-left" style="margin-bottom:15px;">
									<label class="form-check-label" style="padding-top:-2px;"> {{ form.remember(class="form-check-input")}} {{_('Keep me signed in')}}</label>
								</div>
								<div class="form-group float-right">
									{{ form.submit(class="btn btn-outline-orange")}}
								</div>
							</div>
						</div>
					</fieldset>
				</form>

				<div class="card-footer">
					<div class="container-fluid">
						<div class="float-left text-left">
							<small class="text-muted">
								{{_('Forgot your password?')}}
								<br>
								{{_('Recover it')}} <a href="{{ url_for('users.reset_request') }}" class="brown-link text-uppercase">{{_('here')}}</a>
							</small>
						</div>
						<div class="float-right text-right">
							<small class="text-muted">
								{{_('Need an account?')}}
								<br>
								<a class="brown-link text-uppercase" href="{{url_for('users.register')}}">{{_('Sign up')}}</a><!--  we passs in the name of the route function -->
							</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}	
	<!-- 